.container{
  margin: 20px auto
}

button{
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Mali', cursive;
    font-family: 'Cabin Sketch', cursive;
}

P{
    

    font-family: 'Fredericka the Great', cursive;

    font-family: 'Cabin Sketch', cursive;

    font-family: 'Mali', cursive;


}